@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i');

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: $midnight-blue;
  text-align: left;
  background-color: $powder-blue;

  .app {
    margin: 0.625rem;
    text-align: left;
    border-bottom: 0.0625rem solid $black;

    ul {
      list-style-type: none;
    }
  }

  h1 {
    color: $teal;
    font-weight: 400;
  }

  h2 {
    font-size: 2.125rem;
    padding: 0 1rem;
  }

  h3 {
    font-size: 1.5rem;
    padding: 0 .5rem;
    font-weight: 300;
  }

  p {
    color: $gray;
  }

  ul {
    list-style-type: none;
  }

  input[type=search],
  input[type=text] {
    font-size: 1rem;
    font-weight: 300;
    background-clip: padding-box;
    transition: all .2s ease;
    outline: 0;
    -webkit-appearance: none;
    width: 100%;
    resize: none;
    padding: 1rem;
    border: 0.0625rem solid $powder-blue;
    margin-bottom: 2rem;

    &:hover,
    &:focus {
      transition: all .2s ease;
      cursor: auto;
      border: 0.0625rem solid $teal;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;

    &:after {
      content: " ";
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 0.375rem solid $teal;
      border-color: $teal transparent $teal transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  max-width: 87.5rem;
  margin: 2rem auto;

  .nav-categories {
    text-align: left;
    flex: 0;
    order: 1;

    ul {
      list-style-type: none;
    }

    li {
      cursor: pointer;

      &.selected {
        color: $white;
      }
    }

    .nav-menu {
      .active a {
        color: $teal;
      }

      a {
        position: relative;
        display: block;
        padding: 1rem;
        font-size: 1.0625rem;
        font-weight: 300;
        color: $dark-slate-gray;
        cursor: pointer;
        background: $powder-blue;
        border-bottom: 0.0625rem solid $sky-blue;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          background-color: $white;
          -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
        }
      }
    }
  }

  .apps-list {
    flex: 1;
    order: 2;
    text-align: left;

    header {
      display: flex;
      text-align: center;

      .search-bar {
        width: 100%;
        background-color: $white;
        margin-bottom: 2rem;
        border: 0.0625rem solid $powder-blue;
        display: flex;
        align-items: center;

        &:hover,
        &:focus {
          transition: all .2s ease;
          cursor: auto;
          border: 0.0625rem solid $teal;
        }

        input[type=search],
        input[type=text] {      
          margin-bottom: 0;
          border: 0;
          box-sizing: border-box;

          &:disabled {
            background-color: $white;
          }
        }
      }

      .lds-dual-ring {
        width: auto;
        height: auto;
        margin: 0.5rem;

        &:after {
          width: 1rem;
          height: 1rem;
          border: 0.1875rem solid $teal;
          border-color: $teal transparent $teal transparent;
        }
      }
    }

    .list-container {
      min-height: 36.94rem;
      position: relative;

      .lds-dual-ring {
        display: block;
        margin: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
      }
    }

    .app-item {
      position: relative;
      width: 100%;
      -webkit-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      box-shadow: 0 0.125rem 0.1875rem 0 $light-sky-blue, 0 0 0.1875rem 0 $light-sky-blue;

      .box-info {
        transition: all 0.3s ease-in-out;
        padding: 1.5rem;
        flex: 1;
        position: relative;
        clear: both;
        background-color: $white;
        margin-bottom: 1.5rem;
        cursor: pointer;

        &:hover{
          background-color: rgba($powder-blue, 0.3);
        }

        .box-info--content {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.5rem;

          .tags {
            color: $teal;
          }
        }

        .box-info--footer {
          display: flex;

          ul {
            display: inline-flex;
          }

          li {
            display: inline-flex;
            align-items: baseline;
            padding: 0 1rem 0 0;

            span {
              color: $gray;
            }
          }
        }
      }
    }

    .pagination {
      text-align: center;
      order: 3;
      width: 100%;
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      justify-content: center;

      li {
        margin-right: .25rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          transition: all 0.3s ease-in-out;
          color: $gray;
          padding: .375rem .4375rem;
          text-decoration: none;

          &:hover {
            background: $teal;
            color: $white;
          }

          &:focus {
            box-shadow: inset 0 0 0 0.125rem $teal;
          }

          &:active {
            background: $gray;
            color: $white;
          }
        }
      }

      .active a {
        background: $teal;
        color: $white;
        pointer-events: none;
      }
    }
  }
}

.flex-container > * {
  padding: 0.9375rem;
  flex: 1 100%;
}