<template>
  <AppList />
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import AppList from '@/components/AppList.vue';

@Component({
  components: {
    AppList
  }
})
export default class App extends Vue {}
</script>