<template>
  <div class="app-item">
    <div class="box-info">
      <div class="box-info--content">
        <div class="description">
          <h1>{{ app.name }}</h1>
          <p>{{ app.description }}</p>
        </div>
        <div class="tags">
          <span v-for="(category, index) in app.categories" :key="category">
            {{ category }}
            <span v-if="index !== app.categories.length - 1">/</span>
          </span>
        </div>
      </div>
      <div class="box-info--footer">
        <ul>
          <li v-for="subscription in app.subscriptions" :key="subscription.name">
            <span>{{ subscription.name }}</span>
            <h3>{{ formatPrice(subscription.price) }}<sup>{{ getCurrency(subscription.price) }}</sup></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import AppInfo from '@/interfaces/AppInfo';

@Component
export default class AppItem extends Vue {
  @Prop() app!: AppInfo;

  formatPrice(price: number) {
    if (price === 0)
      return 'Free';

    return (price/100).toFixed(2);
  }

  getCurrency(price: number) {
    if (price === 0)
      return '';
    
    return '€';
  }
}
</script>