<template>
  <div class="flex-container">
    <CategoryList @changedCategory="updateList(1)" />
    <section class="apps-list">
      <SearchBar :loading="loading" />
      <div class="list-container">
        <div class="lds-dual-ring" v-if="resultLoading"></div>
        <ul v-else>
          <li v-for="app in apps" :key="app.id">
            <AppItem :app="app" />
          </li>
        </ul>
      </div>
      <Pagination :page-count="pageCount" :current-page="currentPage" @changedPage="updateList" />
    </section>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import { State } from 'vuex-class';
import API from '@/services/API';
import CategoryList from '@/components/CategoryList.vue';
import SearchBar from '@/components/SearchBar.vue';
import AppItem from '@/components/AppItem.vue';
import AppInfo from '@/interfaces/AppInfo';
import AppsListInfo from '@/interfaces/AppsListInfo';
import Pagination from '@/components/Pagination.vue';

@Component({
  components: {
    CategoryList,
    SearchBar,
    AppItem,
    Pagination
  }
})
export default class AppList extends Vue {
  @State('selectedCategory') selectedCategory!: string;
  @State('apps') apps!: Array<AppInfo>;
  @State('search') search!: string;

  private pageSize = 3;
  private pageCount = 0;
  private currentPage = 1;
  private resultLoading = false;
  private loading = false;

  mounted () {
    this.getApps();
  }

  // Gets 3 apps to be shown and the total page count.
  async getApps () {
    this.resultLoading = true;
    const apps: AppsListInfo = await API.getApps(this.selectedCategory, this.search, this.currentPage, this.pageSize);

    if (apps.pageCount !== this.pageCount)
      this.pageCount = apps.pageCount;

    this.resultLoading = false;

    this.$store.commit('updateApps', apps.apps);
  }

  // Updates app list and current page number.
  updateList (pageNumber: number) {
    this.currentPage = pageNumber;
    this.getApps();
  }

  // Updates app list whenever the user types in the search bar.
  @Watch('$store.state.search')
  async onSearchUpdate () {
    this.loading = true;
    this.currentPage = 1;
    await this.getApps();
    this.loading = false;
  }
}
</script>