<template>
  <nav class="nav-categories">
    <h2>Categories</h2>
    <ul class="nav-menu" v-if="categories.length > 0">
      <li :class="{ active: selectedCategory === category }" v-for="category in categories" :key="category" @click="filterByCategory(category)">
        <a href="#">
          {{ category }}
        </a>
      </li>
      <li @click="filterByCategory('')">
        <a href="#">Clear category</a>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { State } from 'vuex-class';
import API from '@/services/API';

@Component
export default class CategoryList extends Vue {
  @State('selectedCategory') selectedCategory!: string;
  @State('search') search!: string;

  private categories: Array<string> = [];

  created () {
    this.getCategories();
  }

  // Gets all existing categories.
  async getCategories () {
    this.categories = await API.getCategories();
  }

  // Updates the selected category and sends an event to the parent component to signal the selected category has changed.
  filterByCategory (category: string) {
    this.$store.commit('updateSelectedCategory', category);
    this.$emit('changedCategory');
  }
}
</script>