<template>
  <ul class="pagination">
    <li>
      <a href="#" v-show="currentPage > 1" @click="setCurrentPage(currentPage - 1)">&lt;</a>
    </li>
      <li href="#" :class="{active: currentPage === pageNumber}" v-for="pageNumber in pages.slice(currentPage > 1 ? currentPage - 2 : currentPage - 1, currentPage > 1 ? currentPage + 1 : currentPage + 2)" :key="pageNumber" @click="setCurrentPage(pageNumber);">
      <a href="#">{{ pageNumber }}</a>
    </li>
    <li>
      <a href="#" v-show="currentPage < pages.length" @click="setCurrentPage(currentPage + 1)">&gt;</a>
    </li>
  </ul>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';

@Component
export default class Pagination extends Vue {
  @Prop() currentPage!: number;
  @Prop() pageCount!: number;

  private pages: Array<number> = [];

  // Sets page numbers based on total page count.
  setPages () {
    this.pages = [];

    for(let index = 1; index <= this.pageCount; index++) {
      this.pages.push(index);
    }
  }

  // Sends an event to the parent component to signal the current page has changed.
  setCurrentPage (pageNumber: number) {
    this.$emit('changedPage', pageNumber);
  }

  // Sets the page numbers whenever page count changes.
  @Watch('pageCount')
  onPageCountUpdate () {
    this.setPages();
  }
}
</script>