<template>
  <header>
    <div class="search-bar">
      <input type="text" :disabled="loading" placeholder="Search by App" :value="search" v-debounce:1s="updateSearch">
      <div v-if="loading" class="lds-dual-ring"></div>
    </div>
  </header>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { State } from 'vuex-class';

@Component
export default class SearchBar extends Vue {
  @State('search') search!: string;
  @Prop() loading!: boolean;

  // Updates the search text whenever the user types in the search bar.
  updateSearch (searchText: string) {
    this.$store.commit('updateSearch', searchText);
  }
}
</script>